<div class="container" >
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4" style="margin-top: 50px; margin-bottom: 30px; align: center; border:1px solid #ccc;">
      <h2 class= "text-center">Log in</h2><hr>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: 'form-label'  %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: 'form-label' %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me%>
                <%= f.label :remember_me, class: 'form-label' %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class: 'btn btn-dark btn-block' %>
            </div>
          <% end %>
<br/>
          <div class="col-md-4" style="float:left;">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name), style: 'color:black; text-decoration:none;' %>
            <% end -%>
          </div>
          <div class="col-md-8 text-right" style="float:right;">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), style: 'color:black; text-decoration:none;' %>
            <% end -%>
          </div><br><br>
          <!-- <div>
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider),class: 'btn btn-dark btn-block'  %><br />
              <% end -%>
            <% end -%>
          </div> -->
<%= render "devise/shared/links" %>
    </div>
    <div class="col-md-4"></div>
    </div>
  </div>
